<div class="col-lg-10">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="input-group col-10">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="cil-search"></i></span>
            </div>
            <div class="search-hero">
              <input class="form-control" type="search" [(ngModel)]="searchText" placeholder="Buscar" autocomplete="off" size="35" >
            </div>
          </div>
          <div class="col-2">
            <button type="button" class="btn btn-primary float-right" *ngIf="accesos.alta==='Y'" (click)="openToAdd()">+Nuevo</button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr>
                <th>Id</th>
                <th>Descripción</th>
                <th>Observaciones</th>
                <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let items of perfiles | filter: 'descripcion' : searchText">
              <td>{{items.id}}</td>
              <td>{{items.descripcion}}</td>
              <td>{{items.observaciones}}</td>
              <td>
                <button (click)="openToModify(items.id)" *ngIf="accesos.cambio==='Y'" class="btn btn-warning text-white"><i class="cil-pencil"></i></button>
                <button (click)="openToDelete(items.id,items.descripcion)" *ngIf="accesos.baja==='Y'" class="btn btn-danger text-white"><i class="cil-trash"></i></button>
                <button (click)="openToAccess(items.id)" *ngIf="accesos.consulta==='Y'" class="btn btn-dark text-white"><i class="cil-lock-unlocked"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

<div bsModal #entityModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{title}}</h4>
        <button type="button" class="close" (click)="entityModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

              <form class="form-horizontal" [formGroup]="modalForm" (ngSubmit)="saveChanges()">
                <div class="modal-body">
                  <div class="form-group">
                    <label class="col-form-label" for="descripcionInput">Descripción</label>
                        <input id="descripcionInput" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.descripcion.errors }" formControlName="descripcion" size="16" type="text" [disableControl]="modalMode===0" required>
                        <div *ngIf="submitted && f.descripcion.errors" class="invalid-feedback">
                          <div *ngIf="f.descripcion.errors.required">La descripción es requerida</div>
                        </div>
                  </div>
                  <div class="form-group">
                    <label class="col-form-label" for="observacionesInput">Observaciones</label>
                    <div class="controls">
                      <div class="input-prepend input-group">
                        <input id="observacionesInput" class="form-control" formControlName="observaciones" size="16" type="text" [disableControl]="modalMode===0">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button class="btn btn-secondary btn-secondary" type="button" (click)="dismiss()">Cancelar</button>
                  <button type="submit" class="btn btn-primary" *ngIf="modalMode != 0">Guardar</button>
                </div>
            </form>
            </div>
        </div>
    </div>

<!--Modal de Eliminacion-->
<div bsModal #deleteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-sm modal-danger" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{title}}</h4>
        <button type="button" class="close" (click)="deleteModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>¿Desea eliminar el registro?</p>
        <p>{{selId+' - '+ selName}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="deleteModal.hide()">Cancelar
        </button>
        <button type="button" class="btn btn-danger" (click)="deleteReg()">Eliminar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!--Modal de Acessos-->
<div bsModal #visualModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="visualModal" aria-hidden="true">
  <div class="modal-dialog modal-primary modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{title}}</h4>
          <button type="button" class="close" (click)="visualModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
              <th>Opcion</th>
              <th>Grabar</th>
              <th>Eliminar</th>
              <th>Cambiar</th>
              <th>Consulta</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let items of accesosPerfil">
            <td>{{items.opcion}}</td>
            <td>
              <p *ngIf="items.alta==='Y'">Si</p>
              <p *ngIf="items.alta==='N'">No</p>
            </td>
            <td>
              <p *ngIf="items.baja==='Y'">Si</p>
              <p *ngIf="items.baja==='N'">No</p>
            </td>
            <td>
              <p *ngIf="items.cambio==='Y'">Si</p>
              <p *ngIf="items.cambio==='N'">No</p>
            </td>
            <td>
              <p *ngIf="items.consulta==='Y'">Si</p>
              <p *ngIf="items.consulta==='N'">No</p>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="visualModal.hide()">Cancelar
        </button>
      </div>
    </div>
  </div>
</div>
