<div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <div class="col-sm-6">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="cil-search"></i></span>
                </div>
                <div class="search-hero">
                  <input class="form-control" type="search" [(ngModel)]="searchText" placeholder="Buscar" autocomplete="off" size="35" >
                </div>
                <div>
                  <button type="button" class="btn btn-primary float-right" *ngIf="accesos.alta==='Y'" (click)="openToAdd()">+Nuevo</button>
                </div>
            </div>
        </div>
      </div>
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Id</th>
              <th>Nombre</th>
              <th>Nit</th>
              <th>Dirección</th>
              <th>Teléfono</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let items of clientes | filter: 'nombre' : searchText">
              <td>{{items.id}}</td>
              <td>{{items.nombre}}</td>
              <td>{{items.nit}}</td>
              <td>{{items.direccion}}</td>
              <td>{{items.telefono}}</td>
              <td>
                <button (click)="openToModify(items.id)" *ngIf="accesos.cambio==='Y'" class="btn btn-warning text-white"><i class="cil-pencil"></i></button>
                <button (click)="openToDelete(items.id, items.nombre)" *ngIf="accesos.baja==='Y'" class="btn btn-danger text-white"><i class="cil-trash"></i></button>
                <button (click)="openToVisualy(items.id)" *ngIf="accesos.consulta==='Y'" class="btn btn-info text-white"><i class="cil-find-in-page"></i></button>
              </td>
            </tr>
          </tbody>
        </table>

        <!-- <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Prev</a></li>
          <li class="page-item active"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">4</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul> -->
      </div>
    </div>
  </div>

  <div bsModal #entityModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="entityModal" aria-hidden="true">
        <div class="modal-dialog modal-primary modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">{{title}}</h4>
                  <button type="button" class="close" (click)="entityModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              <form class="form-horizontal" [formGroup]="modalForm" (ngSubmit)="saveChanges()">
                <div class="modal-body">
                    <div class="form-group">
                      <label class="col-form-label" for="nombreInput">Nombre y Apellidos</label>
                      <input id="nombreInput" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }" formControlName="nombre" size="16" type="text" [disableControl]="modalMode==0" required>
                      <div *ngIf="submitted && f.nombre.errors" class="invalid-feedback">
                        <div *ngIf="f.nombre.errors.required">El nombre es requerido</div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-form-label" for="departamentoInput">Departamento</label>
                      <div class="controls">
                        <div class="input-prepend input-group">
                          <input id="departamentoInput" class="form-control" formControlName="departamento"  size="16" type="text" [disableControl]="modalMode==0">
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-form-label" for="nitInput">Nit</label>
                      <input id="nitInput" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nit.errors }" formControlName="nit" size="16" type="text" [disableControl]="modalMode==0" required>
                      <div *ngIf="submitted && f.nit.errors" class="invalid-feedback">
                        <div *ngIf="f.nit.errors.required">El N.I.T. es requerido</div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-form-label" for="direccionInput">Dirección</label>
                      <div class="controls">
                        <div class="input-prepend input-group">
                          <input id="direccionInput" class="form-control" formControlName="direccion"  size="16" type="text" [disableControl]="modalMode==0">
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-form-label" for="telefonoInput">Teléfono</label>
                      <div class="controls">
                        <div class="input-group">
                          <input id="telefonoInput" class="form-control" formControlName="telefono" size="16" type="text" [disableControl]="modalMode==0">
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-4 col-form-label" for="observacionesInput" >Observaciones</label>
                      <div class="col-md-9">
                        <textarea id="observacionesInput" formControlName="observaciones" rows="9" class="form-control" [disableControl]="modalMode==0" ></textarea>
                      </div>
                    </div>
                </div>
                <div class="modal-footer">
                  <button class="btn btn-secondary btn-secondary" type="button" (click)="dismiss()">Cancelar</button>
                  <button type="submit" class="btn btn-primary" *ngIf="modalMode != 0">Guardar</button>
                </div>
              </form>
            </div>
        </div>
  </div>

  <!--Modal de Eliminacion-->
<div bsModal #deleteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-sm modal-danger" role="document">
<div class="modal-content">
 <div class="modal-header">
   <h4 class="modal-title">{{title}}</h4>
   <button type="button" class="close" (click)="deleteModal.hide()" aria-label="Close">
     <span aria-hidden="true">&times;</span>
   </button>
 </div>
 <div class="modal-body">
   <p>¿Desea eliminar el registro?</p>
   <p>{{selId+' - '+ selName}}</p>
 </div>
 <div class="modal-footer">
   <button type="button" class="btn btn-secondary" (click)="deleteModal.hide()">Cancelar
   </button>
   <button type="button" class="btn btn-danger" (click)="deleteReg()">Eliminar</button>
 </div>
</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
